<!-- <div class="card">
  <div class="card-header">
    <ng-content select="[card-header]"></ng-content>
  </div>
  <div class="card-body">
    <ng-content select="[card-body]"></ng-content>
  </div>
</div> -->

<section
  class="text-gray-600 body-font border-2 border-slate-500 flex flex-wrap"
>
  <div class="container px-5 py-24 mx-auto">
    <div class="-m-4">
      <div class="p-4 w-52 border-2">
        <a class="block relative h-48 rounded overflow-hidden">
          <ng-content select="[card-image]"></ng-content>
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
            <ng-content select="[card-category]"></ng-content>
          </h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">
            <ng-content select="[card-title]"></ng-content>
          </h2>
          <p class="mt-1">
            <ng-content select="[card-price]"></ng-content>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
