<!-- Header -->
<app-header></app-header>

<div class="wrapper">
  <!-- <div class="wrapper flex flex-row mx-28">
    <app-card>
      <img
        card-image
        alt="ecommerce"
        class="object-cover object-center w-full h-full block"
        src="https://dummyimage.com/420x260"
      />
      <h3
        card-category
        class="text-gray-500 text-xs tracking-widest title-font mb-1"
      >
        Category 1
      </h3>
      <h2 class="title-font text-lg font-medium" card-title>Title 1</h2>
      <p card-price>$ 13.00</p>
    </app-card>

    <app-card>
      <img
        card-image
        alt="ecommerce"
        class="object-cover object-center w-full h-full block"
        src="https://dummyimage.com/420x260"
      />
      <h3
        card-category
        class="text-gray-500 text-xs tracking-widest title-font mb-1"
      >
        Category 2
      </h3>
      <h2 class="title-font text-lg font-medium" card-title>Title 2</h2>
      <p card-price>$ 12.0</p>
    </app-card>
  </div> -->

  <div class="wrapper flex flex-row flex-wrap gap-4 mx-28">
    <div *ngFor="let item of clothes">
      <app-card>
        <img
          card-image
          alt="ecommerce"
          class="object-cover object-center w-full h-full block"
          src="{{ item.image }}"
        />
        <h3
          card-category
          class="text-gray-500 text-xs tracking-widest title-font mb-1"
        >
          Category 1
        </h3>
        <h2 class="title-font text-lg font-medium" card-title>
          {{ item.name }}
        </h2>
        <p card-price>$ {{ item.price }}</p>
        <p card-price>🌟 {{ item.rating }}</p>
      </app-card>
    </div>
  </div>
  <section class="bg-white dark:bg-gray-900">
    <div class="max-w-3xl px-6 py-16 mx-auto text-center">
      <h1 class="text-3xl font-semibold text-gray-800 dark:text-gray-100">
        Want to see Back in action?
      </h1>
      <div class="text-white">{{ receivedData }}</div>
      <p class="max-w-md mx-auto mt-5 text-gray-500 dark:text-gray-400">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis,
        minus tempora nemo quos
      </p>

      <div
        class="flex flex-col mt-8 space-y-3 sm:space-y-0 sm:flex-row sm:justify-center sm:-mx-2"
      >
        <input
          id="email"
          type="text"
          [(ngModel)]="inputValue"
          (input)="onInputChange()"
          class="px-4 py-2 text-gray-700 bg-white border rounded-md sm:mx-2 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-pink-400 dark:focus:border-pink-300 focus:outline-none focus:ring focus:ring-pink-300 focus:ring-opacity-40"
          placeholder="Email Address"
        />

        <button
          class="px-4 py-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-pink-700 rounded-md sm:mx-2 hover:bg-pink-600 focus:outline-none focus:bg-pink-600"
        >
          Get Started
        </button>
      </div>
    </div>
  </section>
  <router-outlet></router-outlet>
</div>
<!-- <app-home></app-home> -->

<app-footer
  [testText]="inputValue"
  (textOutput)="receiveDataFromChild($event)"
></app-footer>
